<div>
    <form asp-controller="Account" asp-action="Login" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">LogIn</button>
    </form>
</div>

<div>
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>